section {
    min-height: 80vh;
}

.carousel-item {
    max-height: 50vh;
}

.carousel-caption h5 {
    color: black;
}

.carousel-caption p {
    color: black;
}

.carousel-indicators button {
    background-color: black !important;
}

.nav-item {
    text-align:right
}

.fs-5 {
    color:red
}

